.hero {
    background: url('../images/hero-image_4.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
}

.images {
    display: block;
    justify-content: center;
    width: 100px;
    padding: 20px;
}